@model KnowledgeHubPortal.WebApplication.Models.Domain.Category

<div class="modal-header">
    <h5 class="modal-title" id="editModalLabel">Edit Category</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- Form for editing category -->
    @using (Html.BeginForm("EditCategory", "Categories", FormMethod.Post, new { id = "editCategoryForm" }))
    {
        @Html.HiddenFor(model => model.CategoryID)
        <div class="form-group">
            <label for="CategoryName" class="control-label">Name</label>
            @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryName)
        </div>
        <div class="form-group">
            <label for="CategoryDescription" class="control-label">Description</label>
            @Html.TextAreaFor(model => model.CategoryDescription, new { @class = "form-control", rows = 6 })
            @Html.ValidationMessageFor(model => model.CategoryDescription)
        </div>
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" id="saveChangesBtn" class="btn btn-primary">Save changes</button>
</div>
